body {
    font-size: 16px;
    color: #333;
    background-color: #BBBBBB;
}

p {
    margin: 5px 0;
}

h1, h2, h3 {
    margin: 0;
}

.player {
    padding: 3px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player.self {
    font-weight: bold;
}

.player.offline {
    color: #b1afaf;
}

.player.offline .player-name-text {
    box-shadow: 0 0 15px 4px grey;
    text-decoration: line-through;
}

.no-player .player.offline .player-name-text {
    text-decoration: none;
}

.spectators .player.offline .player-name-text {
    box-shadow: none;
}


.cards-list {
    display: flex;
}

.cards-list .card, .cards-list .character {
    margin: 2px;
}

.phaze-block, .players-section, .hand-section, .action-section, .character-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.character-section .cards-list .status {
    height: 15px;
    text-align: center;
    color: red;
}

.character-section .cards-list .discard .character {
    opacity: 0.2;
}


.character-section .cards-list .character {
    height: 23px;
}

.player-slot {
    display: flex;
    height: 282px;
    margin: 5px;
    background: #ffffffab;
    box-shadow: 0 0 6px 1px black;
}

.profile {
    display: flex;
    flex-direction: column;
    border-right: solid #737373 1px;
    position: relative;
}

.player-slot.my-turn {
    background: #ffc0c0cc;
}

.player-slot.winner {
    border: solid gold 2px;
}

.profile-head {
    display: flex;
}

.profile-name {
    font-size: 16px;
    color: white;
    width: 100%;
}

.player-slot-0 .profile-name {
    background: #c62828;
}

.player-slot-1 .profile-name {
    background: #283593;
}

.player-slot-2 .profile-name {
    background: #2e7d32;
}

.player-slot-3 .profile-name {
    background: #ef6c00;
}

.player-slot-4 .profile-name {
    background: #6a1b9a;
}

.player-slot-5 .profile-name {
    background: #00838f;
}

.player-slot-6 .profile-name {
    background: #b4bf45;
}

.characters-list {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 145px;
    padding: 0 5px;
    align-items: center;
}

.profile button {
    position: absolute;
    bottom: 27px;
    width: 75px;
    left: 50%;
    margin-left: -37.5px;
}

.resources {
    height: 34px;
    display: flex;
    justify-content: center;
}

.rs-block {
    margin: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

.resource-count {
    font-size: 22px;
}

.rs-block.gold:before, .rs-block.hand:before, .profile-crown {
    background: url('./sprite.png') no-repeat top left;
    width: 33px;
    height: 33px;
}

.rs-block.gold:before, .rs-block.hand:before {
    content: '';
    position: relative;
}

.rs-block.gold:before {
    background-position: -33px 0;
}

.rs-block.hand:before {
    background-position: -66px 0;
}

.districts {
    display: flex;
    flex-direction: column;
    width: 281px;
    justify-content: space-between;
    position: relative;
}

.districts .cards-list {
    display: flex;
    margin: 28px 10px 0 10px;
    justify-content: center;
}

.districts .cards-list .card:not(:first-child) {
    margin-left: -55px;
}

.districts .cards-list .card:hover {
    z-index: 1;
}

.districts .cards-list .card:hover {
    box-shadow: 0 0 4px 2px #ff9c62;
}

.districts .cards-list .zoomed .card:hover {
    box-shadow: 0 0 4px 0 #000000;
}

.score-block {
    margin-left: 10px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.spectators-section {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.spectators-section.active {
    display: block;
}

.spectators {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    white-space: nowrap;
    height: 20px;
}

.spectators .player {
    display: inline-block;
    margin: 0 4px;
    padding: 0;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    cursor: default;
    text-align: right;
    z-index: 2;
}

.host-controls:hover .host-controls:focus {
    display: block;
}

.side-buttons {
    display: none;
}

.host-controls:hover .side-buttons {
    display: inline-block;
}

.settings-button {
    cursor: pointer;
}

.settings-button:hover {
    background: #d4d4d4;
}

.settings-button.inactive {
    opacity: 0.3;
}

.character {
    background: url('./character.png');
    width: 130px;
    height: 208px;
    background-size: cover;
    margin: 0 6px;
}

.character-section .character {
    background-size: 1168px;
}

.card {
    background: url('./card.png');
    width: 130px;
    height: 208px;
    background-size: cover;
}

.districts .card:hover {
    z-index: 1;
}

.players-section {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

body {
    background: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    background: #dcdcdc96;
    padding: 23px 0;
}

.join-slot-button {
    text-decoration: underline;
    cursor: pointer;
}

.character-section {
    margin: -5px;
}

.card-item, .card-item-zoomed {
    border-radius: 8px;
    box-shadow: 0 0 4px 0 #000000;
    border: 1px solid black;
    position: relative;
}

.card-item-zoomed {
    display: none;
    width: 430px;
    height: 688px;
}

.card-item.zoomed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000061;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.card-item.zoomed .card-item-zoomed {
    display: block;
}

.card-item.zoomed .card-zoom-button {
    display: none;
}

.character-section .cards-list .character {
    border-radius: 0;
}

.character-section .cards-list, .hand-section .cards-list, .action-section .cards-list {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.card-zoom-button {
    visibility: hidden;
}

.card-item:hover .card-zoom-button {
    visibility: visible;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    margin: 3px 5px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    color: #edc36b;
    text-shadow: 0px 2px 1px black;
    user-select: none;
}

.character-container {
    display: flex;
}

.kicked {
    background: #ffffffbf;
    padding: 13px 25px;
}

.player-host-controls {
    margin-left: 5px;
    display: none;
}

.player:hover .player-host-controls, .player:focus .player-host-controls {
    display: inline-block;
}

.host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: text-top;
}

.game.double-roles .characters-list {
    width: 290px;
}

.profile-bg, .districts-bg {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00000030;
    pointer-events: none;
}

.profile-bg i, .districts-bg i {
    font-size: 80px;
}

.discard .cards-list {
    opacity: 0.5;
}